<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Getting Started: Handling Form Submission</title>
</head>
<body>
  <fieldset>
    <table th:object="${addressBook}">
      <thead>
      <tr>
        <th> Name </th>
        <th> Address </th>
        <th> Phone Number</th>
        <th> Action </th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="buddyinfo, itemStat : *{buddyList}">
        <td><input th:field="*{buddyList[__${itemStat.index}__].name}" readonly /></td>
        <td><input th:field="*{buddyList[__${itemStat.index}__].address}" readonly /></td>
        <td><input th:field="*{buddyList[__${itemStat.index}__].phoneNumber}" readonly/></td>
        <td>
        <form action="#" th:action="@{'/deleteBuddies/{id}'(id=${buddyinfo.getId()})}" th:method="delete" >
          <button type="submit" class="btn">
            Delete
          </button>
        </form>
        </td>
      </tr>
      </tbody>
    </table>
  </fieldset>
</body>
</html>